@import url(colores_light.css);
@import url(colores_dark.css);
@import url(general.css);

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main .container {
  width: 100%;
}

header {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-body-light);
}

.container-titulo h2 {
    color: var(--text-color-light);
    font-size: 2em;
    font-family: Comfortaa;
  }


footer {
  background-color: var(--main-barra-color-light);
  text-align: initial;
  padding: 10px;
  width: 100%;
}

footer p {
  color: var(--text-color-light);
  font-family: Roboto;
  font-size: 13px;
}


footer a {
  font-size: 1.4em;
  color: var(--text-color-light);
  padding: 10px;
  text-decoration: none;
}

/* SOLO CONFIGURACIÓN PARA DARK MODE*/

body.dark-mode {
  background-color: var(--main-background-color-dark);

}

/* CONFIGURACION DE TEXTO */

body.dark-mode .logo {
  color: var(--main-text-color-dark);
}

body.dark-mode .container h2{
  color: var(--main-text-color-dark);
}

body.dark-mode .container p{
  color: var(--main-text-color-dark);
}

/* Configuracion footer modo oscuro */
body.dark-mode footer {
  background-color: var(--main-barra-color-dark);
}

body.dark-mode footer a {
  color: var(--main-text-color-dark);
}

body.dark-mode label {
  color: var(--main-text-color-dark);
}

body.dark-mode footer p {
  color: var(--main-text-color-dark);
}


/* Barra de navegación -> Celular */

@media screen and (max-width: 768px) {
  header {
    background-color: var(--main-barra-color-light);
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
  }

  .menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-barra-color-light);
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 30px);
    padding: 10px;
    gap: 50px;
  }

  .cambiar-modo {
    display: block;
    font-size: 1.2em;
    color: var(--main-boton-color-ligth);
    width: 50px;
    height: 50px;
    background-color: var(--main-red-color);
    border: none;
    border-radius: 50%;

  }

  .menu.active {
    display: flex;
  }

  .menu li {
    list-style-type: none;
  }

  .menu a {
    font-family: Comfortaa;
    color: var(--text-color-light);
    font-size: 1.5em;
    text-decoration: none;

  }

  .logo {
    color: var(--text-color-light);
    padding-left: 15px;
    font-size: 1.8em;
    font-family: "Pacifico", cursive;
  }

  a {
    padding: 10px;
    font-size: 2em;
    text-decoration: none;
    font-family: Comfortaa;
  }

  /* Visualización para celulares */ 

  .container-titulo {
    text-align: center;
    padding: 30px;
    align-items: center;
    padding-top: 120px;
  }
  
  .container-grid p{
    font-size: 1.2em;
    text-align: center;
    font-family: Comfortaa;
  }

  .container-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 120px);
    margin: auto;
    min-height: 85vh;
    gap: 50px;
    width: 90vw;
    max-width: 600px;
  }
  .clienta1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .clienta2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .clienta3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .clienta4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .clienta5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .clienta6 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .clienta7 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .clienta8 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  /* MODO OSCURO */
  body.dark-mode .header {
    background-color: var(--main-barra-color-dark);
  }

  body.dark-mode .menu {
    background-color: var(--main-barra-color-dark);
  }

  body.dark-mode .cambiar-tema {
    background-color: var(--main-barra-color-dark);
  }

  body.dark-mode .toggle {
    color: var(--main-text-color-dark);
  }

  body.dark-mode .menu a {
    color: var(--main-text-color-dark);
  }

}


@media(min-width: 769px) {

  header {
    background-color: var(--main-barra-color-light);
    color: var(--main-white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    height: 60px;
  }

  .cambiar-modo {
    display: block;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    background-color: var(--main-barra-color-light);
    border: none;
    border-radius: 50%;

  }

  .cambiar-modo:hover {
    background-color: var(--main-barra-color-dark);
    color: var(--main-text-color-dark);
  }


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .logo {
    color: var(--fuente-color-light);
    font-size: 1.5em;
    padding-left: 20px;
    text-decoration: none;
    font-family: "Pacifico", cursive;
  }

  .logo:hover {
    color: var(--logo-hover);
  }

  .menu {
    display: flex !important;
    flex-direction: row;
    list-style: none;
    background-color: transparent;
    align-items: center;
    justify-content: flex-end;
    position: static;
    height: auto;
    gap: 10px;
    padding: 0;
  }

  .menu li a {
        color: var(--fuente-color-light);
        padding: 10px;
        font-size: 1em;
        text-decoration: none;
    }

    .menu li{
        transition: transform 0.3s ease, color 0.3s ease;
    }

    .menu li:hover{
        transform: scale(1.1);
    }

    .menu a:hover{
        color: #355070;
    }


  a {
    font-family: Comfortaa;
  }

  .toggle {
    display: none;
  }


  main .container {
    max-width: 960px;
    align-items: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    min-height: 100vh;
  }

  /* Texto */

  .container-titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    align-items: center;
    padding-top: 80px;
  }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 100px;
    grid-template-rows: 200px 200px repeat(3, 120px);
    margin: auto;
    gap: 40px;
    max-width: 1200px;
    min-height: 100vh;
    padding-bottom: 50px;
    min-height: 100vh;

  }

  .container-grid p{
    font-size: 1.2em;
    text-align: center;
    font-family: Comfortaa;
  }

  .container-grid img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .container-grid img:hover{
    transform: scale(1.02);
  }

  .clienta1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .clienta2 {
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }

  .clienta3 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 2;
  }

  .clienta4 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 4;
  }

  .clienta5 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 3;
  }

  .clienta6 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }

  .clienta7 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
  }

  .clienta8 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
  }





  footer {
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    padding: 20px;
    width: 100%;
  }



  /* SOLO DARK MODE */

  body.dark-mode .header {
    background-color: var(--main-barra-color-dark);
    color: var(--main-white-color);
  }

  body.dark-mode .navbar {
    background-color: var(--main-barra-color-dark);
  }

  body.dark-mode .navbar a {
    color: var(--main-white-color);
  }

  body.dark-mode .logo:hover {
    color: var(--logo-hover);
  }

  body.dark-mode .cambiar-modo {
    background-color: var(--main-barra-color-dark);
    color: var(--main-white-color);
  }

  body.dark-mode .cambiar-modo:hover {
    background-color: var(--main-barra-color-light);
    color: var(--text-color-light);
  }


}